extends layout

block append content
	#celery_cont
		#controls
			.btn-group
				.btn#insert.btn-success Insert
				.btn#delete.btn-danger Delete
		#title_cont
			a(id="celery", class="in") Ce
			img(src='/img/celery.jpeg', class='cel').anim_none
			a(id="celery", class="in") ery
		#btn_cont
			.btn-group
				.btn#buy.active Buy
				.btn#sell Sell
				.btn#undef Undef
		#btn_cont
			.btn.btn-info#courses By Courses
	#table_cont
		table(class="table table-striped table-bordered")#table_buy
			thead
				tr
					td
						a Term
					td
						a Occurences
			tbody
			- for (var i = 0; i < buy.length; i++) {
				tr
					td
						a=buy[i]['_id']
					td
						a=buy[i]['num']
			- }
		table(class="table table-striped table-bordered gone")#table_sell
			thead
				tr
					td
						a Term
					td
						a Occurences
			tbody
			- for (var i = 0; i < sell.length; i++) {
				tr
					td
						a=sell[i]['_id']
					td
						a=sell[i]['num']
			- }
		table(class="table table-striped table-bordered gone")#table_undef
			thead
				tr
					td
						a Term
					td
						a Occurences
			tbody
			- for (var i = 0; i < unique.length; i++) {
				tr
					td
						a=unique[i]['_id']
					td
						a=unique[i]['num']
			- }
		table(class="table table-striped table-bordered gone")#table_course
			thead
				tr
					td
						a Course Name
					td
						a Selling
					td
						a Buying
			tbody
			- for (var i = 0; i < course.length; i++) {
				tr
					td
						a=course[i]['_id']
					td
						a=course[i]['value']['sell']
					td
						a=course[i]['value']['buy']
			- }